#containerComment
{
    display: flex;
    flex-direction: row;
}

table, td 
{
    border: 1px solid black;
}

table 
{
    margin:auto;
    text-align: center;
    border-collapse: collapse;
}

td 
{
    padding: 3px;
}

.text-white-50
{
    font-size: 2em !important;
    
}

.messageValidation
{
color:green;
font-size:2em;
text-align:center;
}

.messageAvertissement
{
color:orange;
font-size:2em;
text-align:center;
}

.messageProbleme
{
color:red;
font-size:1.1em;
}

.messageInfo
{
   text-align: center;
   font-size:1.2em;
}

.commentsStyle
{
    text-align: center;
}

.tdAdmin
{
    background-color: white;

}

.formadmin
{
    margin : 0 auto;
}

.uniqueChapterTitle
{
    color:#64a19d;
    text-align:center;
    padding-bottom:20px;
}

.uniqueChapterContent
{
    padding-left : 20px;
    padding-right : 20px;
    text-align:justify;
}

.validateInput
{
    color:#64a19d;
}

.connectStyle
{
    text-align: center;
}