#headerPages
{
    border: 3px gray solid;
    color: gray;
    background-color: black;
    width: 100%;
    
}

table, td 
{
    border: 1px solid black;
}

table 
{
    margin:auto;
    text-align: center;
    border-collapse: collapse;
}

td 
{
    padding: 3px;
}

.pUnique
{
    color: white !important;
}

.h2Unique
{
    color: white !important;;
}

.dateUnique
{
text-align: right !important;
}