#containerComment
{
    display: flex;
    flex-direction: row;
}

table, td 
{
    border: 1px solid black;
}

table 
{
    margin:auto;
    text-align: center;
    border-collapse: collapse;
}

td 
{
    padding: 3px;
}

.text-white-50
{
    font-size: 2em !important;
    
}

.messageValidation
{
color:green;
font-size:2em;
text-align:center;
}

.messageAvertissement
{
color:orange;
font-size:2em;
text-align:center;
}

.messageProbleme
{
color:red;
font-size:1.1em;
}